.DS_Store
.vagrant
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
.bundle
log
log/*
tmp/
tmp/*
db/*.sqlite3
coverage/
spec/tmp/*
**.orig
pickle-email-*.html
.project
config/secrets.yml
.keep
